    /*Css*/
    
    body {
        background: url(img/fond.png);
        font-family: fantasy, Arial, Helvetica, sans-serif;
        color: #666;
    }
    
    p {
        text-align: justify;
    }
    
    article {
        margin-top: 20px;
    }
    
    #journal {
        opacity: 0.4;
    }
    
    #images {
        display: flex;
        justify-content: center;
    }
    
    #main {
        width: 100%;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        overflow: hidden;
    }
    
    #intitulé {
        width: 100%;
        margin: 0 0 30px 0;
        padding: 0 0 0 0;
        overflow: hidden;
    }
    
    #piedpage {
        margin-top: 30px;
        background-color: black;
        font: grey;
    }
    
    a {
        text-decoration: underline;
        color: #666;
    }
    
    a:visited {
        color: #333333;
    }
    
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        color: white;
        background: #EFECCA;
    }
    
    .btn-primary {
        display: flex;
        float: right;
    }
    
    .ligne:hover {
        background-color: #6495ED;
        color: white;
    }
    
    .ligne1 {
        background-color: #6495ED;
    }
    
    ul {
        list-style-type: none;
        text-align: center;
    }
    
    @media all and (min-width: 500px) and (max-width: 1024px)
    /*adapter à la tablette l'affichage*/
    
    {
        aside {
            margin-top: 20px;
            border-top-color: grey;
            border-top: dashed;
            border-top-width: medium;
        }
    }
    
    @media all and (max-width: 500px)
    /*adapter aux écrans de téléphone*/
    
    {
        nav ul {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
        }
        aside {
            margin-top: 20px;
            border-top-color: grey;
            border-top: dashed;
            border-top-width: medium;
        }
    }
    
    @media all and (min-width: 1024px)
    /* adapter à l'écran d'ordinateur*/
    
    {
        #articles {
            margin-top: 20px;
        }
        aside {
            margin-top: 60px;
        }
        #images2 {
            margin-top: 60px;
        }
        .table {
            background-color: bisque;
        }
    }