    /*Css*/
    
    body {
        background: url(img/fond.png);
        font-family: fantasy, Arial, Helvetica, sans-serif;
        color: #666;
    }
    
    .carousel-inner {
        border: 2px solid grey;
        box-shadow: 0 3px 3px grey;
        font-size: 2em;
    }
    
    p {
        text-align: justify;
    }
    
    article {
        margin-top: 20px;
    }
    
    helbox {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
    
    h2 {
        text-align: center;
        border-bottom: solid;
        border-bottom-color: white;
        padding-bottom: 20px;
    }
    
    #journal {
        opacity: 0.4;
    }
    
    #images {
        display: flex;
        justify-content: center;
    }
    
    #main {
        width: 100%;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        overflow: hidden;
        text-align: justify;
    }
    
    #piedpage {
        margin-top: 30px;
        background-color: #000000;
        font: grey;
    }
    
    a {
        text-decoration: underline;
        color: #666;
    }
    
    a:visited {
        color: #666;
    }
    
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        color: white;
        background: #EFECCA;
    }
    
    ul {
        list-style-type: none;
        text-align: center;
    }
    
    @media all and (min-width: 500px) and (max-width: 1024px)
    /*adapter à la tablette l'affichage*/
    
    {
        aside {
            margin-top: 20px;
            border-top-color: grey;
            border-top: dashed;
            border-top-width: medium;
        }
    }
    
    @media all and (max-width: 500px)
    /*adapter aux écrans de téléphone*/
    
    {
        nav ul {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
        }
        aside {
            margin-top: 20px;
            border-top-color: grey;
            border-top: dashed;
            border-top-width: medium;
        }
        .container {
            display: none;
        }
    }
    
    @media all and (min-width: 1024px)
    /* adapter à l'écran d'ordinateur*/
    
    {
        #articles {
            margin-top: 20px;
            border-right-color: grey;
            border-right: dashed;
            border-right-width: medium;
        }
    }
    
    <*jQuery*> <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> <!-- Javascript de Bootstrap --> <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> <script> // Scrollspy fluide
    $(function () {
        $('.carousel').carousel();
        $('header a').on('click', function (e) {
            e.preventDefault();
            var hash=this.hash;
            $('html, body').animate( {
                scrollTop: $(this.hash).offset().top
            }
            , 1000, function () {
                window.location.hash=hash;
            }
            );
        }
        );
    }
    
    );
    </script>